parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Function wp_mkdir_p not found#'
        - '#Function get_option not found#'
        - '#Function add_settings_field not found#'
        - '#Function add_action not found#'
        - '#Function wp_register_script not found#'
        - '#Constant SNAPWIZARD_SLUG not found#'
        - '#Constant WP_PLUGIN_DIR not found#'
        - '#Function plugins_url not found#'
        - '#Function add_menu_page not found#'
        - '#Function get_users not found#'
        - '#Function esc_html__ not found#'
        - '#Constant WP_DEBUG not found#'
        - '#Function register_taxonomy_for_object_type not found#'
        - '#Function wp_register_style not found#'
        - '#Function wp_enqueue_script not found#'
        - '#Function wp_enqueue_style not found#'
        - '#Function add_settings_section not found#'
        - '#Function register_rest_route not found#'
        - '#Function is_admin not found#'
        - '#Constant DOING_AJAX not found#'
        - '#Function add_filter not found#'
        - '#Function get_admin_url not found#'
        - '#Function __ not found#'
        - '#Function delete_option not found#'
        - '#Function get_bloginfo not found#'
        - '#Function site_url not found#'
        - '#Function get_categories not found#'
        - '#Function esc_html not found#'
        - '#Function register_setting not found#'
        - '#Function esc_attr not found#'
        - '#Function plugin_dir_path not found#'
        - '#Function sanitize_title not found#'
        - '#Instantiated class WP_Query not found#'
        - '#Function update_option not found#'
        - '#Function add_option not found#'
        - '#Function wp_insert_post not found#'
        - '#Function is_wp_error not found#'
        - '#Instantiated class WP_Error not found#'
        - '#Function set_post_thumbnail not found#'
        - '#Function wp_get_attachment_url not found#'
        - '#Function get_post not found#'
        - '#Function wp_update_post not found#'
        - '#Function wp_remote_get not found#'
        - '#Constant ABSPATH not found#'
        - '#Function wp_check_filetype not found#'
        - '#Function sanitize_file_name not found#'
        - '#Function wp_insert_attachment not found#'
        - '#Function wp_set_object_terms not found#'
        - '#Function wp_generate_attachment_metadata not found#'
        - '#Function wp_update_attachment_metadata not found#'
        - '#Function wp_get_upload_dir not found#'
        - '#Access to constant READABLE on an unknown class WP_REST_Server#'
        - '#Parameter \$request of method SnapWizard\\Services\\TokenManager::snapwizard_create_token_from_oauth_redirect_url_public_page\(\) has invalid type WP_REST_Request#'
        - '#Parameter \$request of method SnapWizard\\Services\\FeedProcessorService::snapwizard_process_ig_feed_url\(\) has invalid type WP_REST_Request#'
        - '#Method SnapWizard\\Services\\WordPressBridgeService::setAttachmentAndThumbnail\(\) has invalid return type WP_Error#'
        - '#Method SnapWizard\\Services\\WordPressBridgeService::saveAttachment\(\) has invalid return type WP_Error#'
        - '#Call to method get_query_params\(\) on an unknown class WP_REST_Request#'
        - '#Access to property \$found_posts on an unknown class WP_Query#'
        - '#Call to method get_route\(\) on an unknown class WP_REST_Request#'
        - '#Call to method add\(\) on an unknown class WP_Error#'